@import "vars";

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    margin-right: 53px;
  }

  &__link {
    font-family: "$secondary-font";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: capitalize;
    color: $accent;
    text-decoration: none;
    transition: all 0.3s;
  }

  &__link:hover {
    color: blueviolet;
  }
}
